<footer>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <p>The contents of this website are <br />&copy;&nbsp;{{ site.time | date: '%Y' }} under the terms of the <a href="{{ site.repository }}/blob/master/LICENSE">MIT&nbsp;License</a>.</p>
    </div>
    <div class="unit two-thirds align-right center-on-mobiles">
      <p>
        Proudly hosted by
        <a href="https://github.com">
          <img src="/img/footer-logo.png" width="100" height="30" alt="GitHub • Social coding">
        </a>
      </p>
    </div>
  </div>
</footer>

<script src="/js/clipboard.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
  var snippets = $('div.highlight, pre.highlight, figure.highlight td.code, figure.highlight');

  [].forEach.call(snippets, function(snippet) {
      snippet.firstChild.insertAdjacentHTML('afterend', '<button class="snippet_btn" data-clipboard-snippet><img class="clippy" src="/img/clippy.svg" width="13" alt="cp" ></button>');
  });

  var clipboardSnippets = new Clipboard('[data-clipboard-snippet]', {
      target: function(trigger) {
          return trigger.previousElementSibling;
      }
  });
</script>